/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

/* General */
.scg-container {
    margin: 2px;
}
.sgc-container-clear {
    clear: both;
}
th.sgc-table-top {
    vertical-align: text-top;
}
.sgc-search-button {
    display: inline-block;
    background: #4E9CAF;
    padding: 5px 16px 5px 16px;
    text-align: center;
    border-radius: 3px;
    color: white;
    font-weight: bold;
    text-decoration: none;
}
.sgc-search-button:focus,
.sgc-search-button:hover
{
  background: #203f46;
}
small.sgc-action {
    font-size: 0.8em;
    margin-right: 0.8em;
    margin-left: 0.4em;
}

/* Widgets */
.sgc-widget-events {
    display: inline-block;
    max-width: 49%;
    margin: 2px;
    width: 400px;
}
.sgc-widget-event-item {
    white-space: nowrap;
}
.sgc-widget-event-date {
    font-weight: bold;
}
.sgc-widget-event-link {
    display: table;
    margin-left: 1em;
}

/* Scorecard */
div #postcustom, #titlewrap, #postdivrich, #minor-publishing-actions {
    display: none;
}
table.sgc-scorecard {
    border-collapse: collapse;
    border: 1px solid grey;
    margin-left: 1em;
}
th.sgc-scorecard {
    border: 1px solid grey;
    padding-right: 1em;
    padding-left: 0.3em;
    text-align: left;
}
td.sgc-scorecard-hole {
    border: 1px solid grey;
    padding: 0;
    text-align: center;
}
input.sgc-scorecard-hole {
    width: 2em;
}
td.sgc-scorecard-stats {
    padding-left: 1.5em;
}
input.sgc-scorecard-stats {
    margin-right: 3em;
    width: 3em;
}

/* Events */
.sgc-event-group-list {
    vertical-align: top;
}
.sgc-event-group {
    vertical-align: top;
    margin: 0.5em;
    padding: 0.3em;
    background: #EEE;
    border: 1px solid black;
}
ul.sgc-event-group-summary {
    margin-left: 1em;
}
li.sgc-event-group-summary a{
    font-weight: bold;
}
li.sgc-event-group-item {
    font-weight: bold;
}
li.sgc-event-group-item {
    font-weight: bold;
}
.sgc-event-group-players {
    margin-left: 1em;
}
.sgc-event-group-player-checkbox {
    float: right;
}
table.sgc-course-tee {
    border-collapse: collapse;
    border: 1px solid grey;
    margin-left: 1em;
}
th.sgc-course-tee {
    border: 1px solid grey;
    padding-right: 1em;
    padding-left: 0.3em;
    text-align: left;
}
td.sgc-course-tee {
    border: 1px solid grey;
    padding: 0;
    text-align: center;
}
.sgc-course-container {
    margin: 2em;
}
option.scg-player-checkedin {
    color: seagreen;
    font-style: bold;
}
ul.sgc-event-group-summary {
    list-style-type: none;
    margin-left: 0.1em
}
span.sgc-event-group-summary-name{
    font-weight: bold;
}
li.sgc-event-group-player-list a {
    font-weight: bold;
}
select.sgc-event-tee {
    box-sizing: border-box;
    width: 100%;
}
.sgc-event-locations {
    width: 46%;
    margin-right: 1em;
}
.sgc-event-locations-header {
    font-weight: bold;
    font-size: 1.5em;
    border-bottom: solid 2px #000;
    padding-bottom: 0.4em;
    margin-bottom: 0.6em;
}
.sgc-event-locations-body {
    font-weight: bold;
}
li.sgc-event-location a {
    font-weight: bold;
}
.sgc-locations-search-box {
    width: 180px;
}
.sgc-event-teams {
    width: 46%;
    margin-right: 1em;
}
.sgc-event-teams-header {
    font-weight: bold;
    font-size: 1.5em;
    border-bottom: solid 2px #000;
    padding-bottom: 0.4em;
    margin-bottom: 0.6em;
}
.sgc-event-team-body {
    font-weight: bold;
}
li.sgc-event-team a {
    font-weight: bold;
}
.sgc-teams-search-box {
    width: 180px;
}

/* Locations */
table.sgc-location-tee-holes {
    margin-left: 32px;
}
th.sgc-location-top {
    vertical-align: text-top;
}
th.scg-location-hole-number {
    text-align: center;
}
ul.sgc-location-tee {
    list-style-type: none;
    margin-left: 0.1em
}
li.sgc-location-tee {
    margin-bottom: 2px;
}
li.sgc-location-tee a{
    font-weight: bold;
}
label.sgc-location-tee {
    font-weight: bold;
}
input.sgc-location-tee {
    width: 3.75em;
}
h1.sgc-location-tee {
    font-size: 1.6em;
    font-weight: bold;
}

/* Teams */
li.sgc-player-list a {
    font-weight: bold;
}

/* Players */
.sgc-player-team-select {
    margin-top: 1em;
}
.sgc-player-teams {
    width: 46%;
    margin-right: 1em;
}
.sgc-player-teams-header {
    font-weight: bold;
    font-size: 1.5em;
    border-bottom: solid 2px #000;
    padding-bottom: 0.4em;
    margin-bottom: 0.6em;
}
ul.sgc-player-team {
    list-style-type: none;
    margin-left: 0.5em
}
li.sgc-player-team {
    list-style-type: none;
    margin-bottom: 2px;
}
li.sgc-player-team a {
    font-weight: bold;
}
.sgc-teams-search-box {
    width: 180px;
}
.sgc-page-nav {
    display: inline-block;
    margin-left: 1.5em;
    margin-right: 1.5em;
}

/* Pickadate tweaks */
input[readonly] {
    background: #fff;
}